h1 {
  color: white;
  text-align: center;
}

body {
  background-color: black;
}

h2 {
  color: white;
  text-align: right;
}

h3 {
  color: white;
  text-align: right;
}

p {
  color: white;
  text-align: right;
}

p[label="sold out"] {
  border: 3px solid grey;
}

.boxed {
  border: 3px solid whitesmoke;
}
